<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />


	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/json2.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/underscore-min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/backbone-min.js")"></script>
    
<!--	<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryui/js/jquery-1.5.1.min.js")"></script> -->

  	<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryui/js/jquery-ui-1.8.16.custom.min.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryui/development-bundle/ui/jquery.ui.core.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryui/development-bundle/ui/jquery.ui.position.js")"></script>

	<script type="text/javascript" src="@Url.Content("~/Scripts/jqueryui/development-bundle/ui/jquery.ui.widget.js")"></script>

    <link href="@Url.Content("~/Scripts/jqueryui/css/ui-darkness/jquery-ui-1.8.16.custom.css")" type="text/css" rel="Stylesheet" />
   
    
    <!--[if lt IE 8]><link rel="stylesheet" href="../../Content/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]--> 
    <link href="../../Content/blueprint/print.css" type="text/css" rel="Stylesheet" />
    <link href="../../Content/blueprint/screen.css" type="text/css" rel="Stylesheet" />    
    <link href="../../Content/sitio.css" type="text/css" rel="Stylesheet" />
   

    <script language="javascript" type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.1&sensor=false"> </script>
    
</head>

<body>
    @RenderBody()
</body>
</html>
